html {
  height: 100%;

}



.title {
  font-size: 50px;
  color: white;

}

body {

  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  height: 100%;

}



.fiveday {
  color: white;
}

#uvAlert {
  display: inline;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  color: gray;
}

#search {
  background-color: #5aa2e9;
  color: White;
  font-weight: bold;
}

.search {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  border-style: solid;
  margin-top: 30px;
  text-align: center;
}

.key {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}


h1 {
  font-size: 30px;
  font-weight: bold;
}

.box:last-child { 
  margin-bottom: 1.5rem; 
}